<div class="flex flex-col items-center justify-center">
  <img
    src="https://cdn.icon-icons.com/icons2/2699/PNG/512/amazon_logo_icon_169612.png"
    alt="Amazon Logo"
    class="h-12"
  />
</div>
<div class="flex flex-col items-center justify-center min-h-screen">
  <div
    class="flex flex-col items-center p-6 rounded-lg shadow-md w-full max-w-sm border border-black"
  >
    <h2 class="text-4xl font-bold mb-4">Crear cuenta</h2>
    <form class="w-full">
      @if (message) {
      <div
        class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md"
        role="alert"
      >
        <div class="flex">
          <div class="py-1">
            <svg
              class="fill-current h-6 w-6 text-teal-500 mr-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
              />
            </svg>
          </div>
          <div>
            <span class="font-bold">{{ message }}</span>
          </div>
        </div>
      </div>
      <br />
      }

      @if (messageError) {
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">{{ messageError }}</strong>
          <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
          </span>
        </div>
        <br />
        }

      <label for="nombre" class="block text-sm font-medium">Tu nombre</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        class="mt-1 block w-full px-3 py-2 border border-zinc-300 rounded-md shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm"
        [(ngModel)]="nombre"
        placeholder="Nombres y apellidos"
      />
      @if (message1) {
      <span class="text-red-600 flex items-center font-bold">{{
        message1
      }}</span>
      }

      <label for="edad" class="block text-sm font-medium mt-2">Edad</label>
      <input
        type="number"
        min="10"
        max="90"
        id="edad"
        name="edad"
        class="mt-1 block w-full px-3 py-2 border border-zinc-300 rounded-md shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm"
        [(ngModel)]="edad"
      />
      @if (message2) {
      <span class="text-red-600 flex items-center font-bold">{{
        message2
      }}</span>
      }

      <label for="email" class="block text-sm font-medium mt-2"
        >Correo electrónico</label
      >
      <input
        type="email"
        id="email"
        name="email"
        class="mt-1 block w-full px-3 py-2 border border-zinc-300 rounded-md shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm"
        [(ngModel)]="email"
      />
      @if (message3) {
      <span class="text-red-600 flex items-center font-bold">{{
        message3
      }}</span>
      }

      <label for="password" class="block text-sm font-medium mt-2"
        >Contraseña</label
      >
      <input
        type="password"
        id="password"
        name="password"
        class="mt-1 block w-full px-3 py-2 border border-zinc-300 rounded-md shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm"
        [(ngModel)]="password"
        placeholder="Como mínimo 6 caracteres"
      />
      @if (message4) {
      <span class="text-red-600 flex items-center font-bold">{{
        message4
      }}</span>
      }

      <label for="passwordvalidar" class="block text-sm font-medium mt-2"
        >Vuelve a escribir la contraseña</label
      >
      <input
        type="password"
        id="passwordvalidar"
        name="passwordvalidar"
        class="mt-1 block w-full px-3 py-2 border border-zinc-300 rounded-md shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm"
        [(ngModel)]="passwordvalidar"
      />
      @if (message5) {
      <span class="text-red-600 flex items-center font-bold">{{
        message5
      }}</span>
      }

      <fieldset class="mt-4">
        <legend class="block text-sm font-medium">Género</legend>
        <div class="mt-2">
          <div class="flex items-center">
            <input
              id="femenino"
              name="genero"
              type="radio"
              value="femenino"
              class="h-4 w-4 border-zinc-300 text-yellow-500 focus:ring-yellow-500"
            />
            <label for="femenino" class="ml-3 block text-sm font-medium"
              >Femenino</label
            >
          </div>
          <div class="flex items-center mt-2">
            <input
              id="masculino"
              name="genero"
              type="radio"
              value="masculino"
              class="h-4 w-4 border-zinc-300 text-yellow-500 focus:ring-yellow-500"
            />
            <label for="masculino" class="ml-3 block text-sm font-medium"
              >Masculino</label
            >
          </div>
        </div>
      </fieldset>

      <button
        type="submit"
        class="mt-4 w-full bg-yellow-400 text-black py-2 rounded-md hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500"
        (click)="register()"
      >
        @if (loadingregister) { Continuar } @else { Continuar }
      </button>
    </form>
    <br />
    <p class="mt-4 text-xs text-left">
      Al crear una cuenta, aceptas las
      <a href="#" class="text-blue-500 hover:underline">Condiciones de uso</a>
      y el
      <a href="#" class="text-blue-500 hover:underline">Aviso de privacidad</a
      >de Amazon.com
    </p>
    <hr class="my-4 w-full border-zinc-300 dark:border-zinc-300" />
    <p class="text-sm text-center">
      ¿Compras para el trabajo?
      <br />
      <a href="#" class="text-blue-500 hover:underline"
        >Crea una cuenta corporativa gratis</a
      >
    </p>
    <hr class="my-4 w-full border-zinc-300 dark:border-zinc-300" />
    <p class="text-sm text-center">
      ¿Ya tienes una cuenta?
      <a routerLink="/iniciar" class="text-blue-500 hover:underline"
        >Iniciar sesión</a
      >
    </p>
  </div>
  <div class="mt-6 text-xs text-blue-500">
    <a href="#" class="hover:underline">Condiciones de uso</a> ·
    <a href="#" class="hover:underline">Aviso de privacidad</a> ·
    <a href="#" class="hover:underline">Ayuda</a>
  </div>
  <div class="mt-6 text-xs text-zinc-600 dark:text-zinc-400">
    <span class="mt-2">&copy; 1996-2024 Amazon.com, Inc. o sus afiliados</span>
  </div>
</div>
