<div class="flex flex-col items-center justify-center">
  <img
    src="https://cdn.icon-icons.com/icons2/2699/PNG/512/amazon_logo_icon_169612.png"
    alt="Amazon Logo"
    class="h-12"
  />
</div>
<div class="flex flex-col items-center justify-center min-h-screen">
  <div
    class="flex flex-col items-center p-6 rounded-lg shadow-md w-full max-w-sm border border-black"
  >
    <h2 class="text-2xl font-semibold mb-4">Iniciar sesión</h2>
    <form class="w-full">
      <!-- Mensaje de validación-->
      @if (message) {
        <div class="alert-{{type}}" role="alert">
          {{message}}
        </div>
      }
      <!-- Mensaje de validación-->

      <label for="email" class="block text-sm font-medium"
        >E-mail</label
      >
      <input
        type="email"
        id="email"
        name="email"
        class="mt-1 block w-full px-3 py-2 border border-zinc-300 rounded-md shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm"
        [(ngModel)]="email"
      />

      <label for="password" class="block text-sm font-medium mt-2"
        >Contraseña</label
      >
      <input
        type="password"
        id="password"
        name="password"
        class="mt-1 block w-full px-3 py-2 border border-zinc-300 rounded-md shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm"
        [(ngModel)]="password"
      />

      <button
        type="submit"
        class="mt-4 w-full bg-yellow-400 text-black py-2 rounded-md hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500"
        (click)="login()"
      >
      @if (loadinglogin) {
        Continuar
        
      }
      @else {
        Continuar
      }

      </button>
    </form>
    <br />
    <p class="mt-4 text-xs text-left">
      Al continuar, aceptas las
      <a href="#" class="text-blue-500 hover:underline">Condiciones de uso</a>
      y el
      <a href="#" class="text-blue-500 hover:underline"
        >Aviso de privacidad</a
      >de Amazon.com.com
    </p>
    <div>
      <a href="" class="mt-2 text-sm text-blue-500 hover:underline text-left"
        >¿Necesitas ayuda?</a
      >
    </div>
    <div>
      <a class="mt-2 text-sm text-blue-500 hover:underline text-left"
        >¿Olvidaste tu contraseña?</a
      >
    </div>
    <hr class="my-4 w-full border-zinc-300 dark:border-zinc-300" />
    <p class="text-sm text-left">
      ¿Compras para el trabajo?
      <br />
      <a href="#" class="text-blue-500 hover:underline"
        >Compra en Amazon Business</a
      >
    </p>
  </div>
  <div class="flex flex-col items-center p-6 rounded-lg w-full max-w-sm">
    <hr class="my-4 w-full border-zinc-300 dark:border-zinc-300" />
    <p class="text-sm text-zinc-600 dark:text-zinc-400">
      ¿Eres nuevo en Amazon?
    </p>
    <button
      class="mt-2 w-full bg-zinc-200 text-black py-2 rounded-md hover:bg-zinc-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-zinc-400 dark:hover:bg-zinc-300"
    >
      <a routerLink="/registrar">Crea tu cuenta de Amazon</a>
    </button>
  </div>
  <div class="mt-6 text-xs text-blue-500">
    <a href="#" class="hover:underline">Condiciones de uso</a> ·
    <a href="#" class="hover:underline">Aviso de privacidad</a> ·
    <a href="#" class="hover:underline">Ayuda</a>
  </div>
  <div class="mt-6 text-xs text-zinc-600 dark:text-zinc-400">
    <span class="mt-2">&copy; 1996-2024 Amazon.com, Inc. o sus afiliados</span>
  </div>
</div>
