<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    .hover-target .dropdown-content {
      display: none;
      width: 430px;
      opacity: 0;
      transition: opacity 2s ease-in-out;
    }
    .hover-target:hover {
      border: 1px solid white;
    }
    .hover-target:hover .dropdown-content {
      /*  */
      display: block;
      opacity: 1;
    }
    .hover-target:not(:hover) .dropdown-content {
      opacity: 0;
      transition: opacity 2s ease-in-out;
    }
  </style>
</head>
<body>
  <nav class="bg-zinc-900 text-white p-2 flex items-center justify-between">
    <div class="flex items-center space-x-4">
      <img
        src="http://pngimg.com/uploads/amazon/amazon_PNG11.png"
        alt="Amazon Logo"
        class="h-8"
      />
      <div class="flex items-center space-x-1">
        <span>Enviar a</span>
        <br />
        <span class="font-bold">Perú</span>
      </div>
    </div>
    <div class="flex flex-grow mx-4">
      <select class="bg-zinc-200 text-zinc-900 p-2 rounded-l-md">
        <option>Todos</option>
      </select>
      <input type="text" placeholder="Buscar Amazon" class="flex-grow p-2" />
      <button class="bg-yellow-500 p-2 rounded-r-md">
        <img
          src="https://cdn3.iconfinder.com/data/icons/feather-5/24/search-512.png"
          alt="Search Icon"
          class="h-5 w-5"
        />
      </button>
    </div>
    <div class="flex items-center space-x-4">
      <div class="flex items-center space-x-1">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Flag_of_Peru_%281825%E2%80%931884%29.svg/270px-Flag_of_Peru_%281825%E2%80%931884%29.svg.png"
          alt="Flag Icon"
          class="h-5 w-5"
        />
        <span>ES</span>
      </div>
      <div class="hover-target relative flex flex-col text-sm p-1">
        <span>Hola, Identifícate</span>
        <span class="font-bold">Cuenta y Listas</span>
        <div
          class="dropdown-content absolute top-full left-[-150px] mt-2 bg-white shadow-lg rounded-lg p-4 text-black z-10"
        >
          <button
            class="bg-yellow-500 text-black font-bold py-2 px-4 rounded w-full mb-4 hover:underline"
          >
            <a routerLink="/iniciar">Identifícate</a>
          </button>
          <p class="text-center text-sm text-zinc-600 mb-4">
            ¿Eres un cliente nuevo?
            <a routerLink="/registrar" class="text-blue-500 hover:underline"
              >Empieza aquí.</a
            >
          </p>
          <div class="flex justify-between">
            <div>
              <h3 class="font-bold text-lg text-zinc-800 mb-2">Tus Listas</h3>
              <ul class="text-sm text-zinc-600">
                <li class="mb-1">
                  <a class="hover:underline">Crear una Lista</a>
                </li>
                <li>
                  <a class="hover:underline"
                    >Encuentra una Lista o Lista de regalos</a
                  >
                </li>
              </ul>
            </div>
            <div>
              <h3 class="font-bold text-lg text-zinc-800 mb-2">Tu Cuenta</h3>
              <ul class="text-sm text-zinc-600">
                <li class="mb-1">
                  <a routerLink="/cuenta" class="hover:underline">Cuenta</a>
                </li>
                <li class="mb-1">
                  <a class="hover:underline">Pedidos</a>
                </li>
                <li class="mb-1">
                  <a class="hover:underline">Recomendaciones</a>
                </li>
                <li class="mb-1">
                  <a class="hover:underline">Historial de Búsqueda</a>
                </li>
                <li class="mb-1">
                  <a class="hover:underline">Lista de videos</a>
                </li>
                <li class="mb-1">
                  <a class="hover:underline"
                    >Compras y Rentas de Video</a
                  >
                </li>
                <li class="mb-1">
                  <a class="hover:underline">Kindle Unlimited</a>
                </li>
                <li class="mb-1">
                  <a class="hover:underline"
                    >Contenido y dispositivos</a
                  >
                </li>
                <li class="mb-1">
                  <a class="hover:underline"
                    >Artículos de Subscribe & Save</a
                  >
                </li>
                <li class="mb-1">
                  <a class="hover:underline"
                    >Membresías y suscripciones</a
                  >
                </li>
                <li>
                  <a class="hover:underline">Biblioteca de Música</a>
                </li>
                <li>
                  <a class="hover:underline">Cambiar cuenta</a>
              </li>
              <li>
                  <a routerLink="" class="hover:underline" (click)="logout()"
                    >Cerrar sesión</a
                  >
              </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col text-sm">
        <span>Devoluciones</span>
        <span class="font-bold">y Pedidos</span>
      </div>
      <div class="flex items-center space-x-1">
        <mat-icon>shopping_cart</mat-icon>
        <span>Carrito</span>
        <span class="font-bold">(0)</span>
      </div>
    </div>
  </nav>

  <nav class="bg-zinc-800 text-white py-2 px-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex items-center space-x-4">
        <button class="text-white focus:outline-none">
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </button>
        <a class="hover:underline">Todo</a>
        <a class="hover:underline">Ofertas del Día</a>
        <a class="hover:underline">Servicio al Cliente</a>
        <a class="hover:underline">Listas</a>
        <a class="hover:underline">Tarjetas de Regalo</a>
        <a class="hover:underline">Vender</a>
      </div>
      <div>
        <a class="hover:underline">Obtén envío gratis a Perú</a>
      </div>
    </div>
  </nav>
  <div class="w-6/12 mx-auto my-5">
    <div class="p-4">
      <nav class="text-sm text-zinc-600 dark:text-zinc-400 mb-4">
        <a routerLink="/cuenta" class="text-blue-600 dark:text-blue-400 hover:underline">Tu Cuenta</a> &gt;
        <span class="text-orange-600 dark:text-orange-400"
          >Inicio de sesión y seguridad</span
        >
      </nav>
      <h1 class="text-2xl font-semibold mb-6">Inicio de sesión y seguridad</h1>
      <div class="space-y-4">
        <div
          class="bg-white p-4 rounded-lg shadow-md flex justify-between items-center"
        >
          <div>
            <h2 class="font-semibold">Nombre</h2>
            <p>Christian</p>
          </div>
          <button
            class="bg-zinc-200 text-zinc-800 px-4 border border-black py-2 rounded-lg"
          >
            Editar
          </button>
        </div>
        <div
          class="bg-white p-4 rounded-lg shadow-md flex justify-between items-center"
        >
          <div>
            <h2 class="font-semibold">Email</h2>
            <p>havok322.com</p>
          </div>
          <button
            class="bg-zinc-200 text-zinc-800 px-4 border border-black py-2 rounded-lg"
          >
            Editar
          </button>
        </div>
        <div
          class="bg-white p-4 rounded-lg shadow-md flex justify-between items-center"
        >
          <div>
            <h2 class="font-semibold">Número de celular principal</h2>
            <p>+51964588065</p>
            <p class="text-sm">
              Inicia sesión rápidamente, recupera contraseñas fácilmente y recibe
              notificaciones de seguridad con este número de teléfono celular.
            </p>
          </div>
          <button
            class="bg-zinc-200 text-zinc-800 px-4 border border-black py-2 rounded-lg"
          >
            Editar
          </button>
        </div>
        <div
          class="bg-white p-4 rounded-lg shadow-md flex justify-between items-center"
        >
          <div>
            <h2 class="font-semibold">Clave de acceso</h2>
            <p class="flex items-center">
              <img
                aria-hidden="true"
                alt="warning"
                src="https://placehold.co/16x16"
                class="mr-2"
              />
              Inicia sesión de la misma manera que desbloqueas tu dispositivo, con
              reconocimiento facial, huella digital o PIN.
            </p>
          </div>
          <button
            class="bg-zinc-200 text-zinc-800 px-4 border border-black py-2 rounded-lg"
          >
            Configurar
          </button>
        </div>
        <div
          class="bg-white p-4 rounded-lg shadow-md flex justify-between items-center"
        >
          <div>
            <h2 class="font-semibold">Contraseña</h2>
            <p>********</p>
          </div>
          <button
            class="bg-zinc-200 text-zinc-800 px-4 border border-black py-2 rounded-lg"
          >
            Editar
          </button>
        </div>
      </div>
    </div>
  </div>
</body>




